<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
   </configSections>

   <nlog>
      <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/Liquesce/Logs"/>
      <targets>
         <target name="file" type="File" layout="${longdate}[${threadid}][${threadname}] ${level:uppercase=true} ${logger}: ${message}" filename="${LogDir}/LiquesceSvc.log" archiveFileName="${LogDir}/LiquesceSvc.{#}.log" archiveAboveSize="1048576" archiveNumbering="Rolling" maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>
   <!-- This section controls the remote interfaces exposed by this service. -->
   <system.runtime.remoting>
      <application>
         <service>
            <wellknown type="LiquesceSvc.LiquesceFaçade, LiquesceSvc" mode="SingleCall" objectUri="LiquesceFaçade"/>
         </service>
         <channels>
            <channel ref="tcp" port="41014">
               <serverProviders>
                  <formatter ref="binary" typeFilterLevel="Full"/>
               </serverProviders>
               <clientProviders>
                  <formatter ref="binary"/>
               </clientProviders>
            </channel>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
