<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >
   
      <?define UpgradeCode = "47ac796f-b05e-4b01-92d2-a53e13e4089b" ?>
      <!-- do not change this ever !-->
      <?define Version = "10.11.25" ?>
      <!-- Change this when creating new release YY-MM-DD -->
      <?define ProductName = "Liquesce Client Share Enabler"?>

      <Product Version="$(var.Version)" Id="068d6e63-416a-4669-89d1-78e1247b00d0" UpgradeCode="$(var.UpgradeCode)"
             Name="$(var.ProductName)" Language="1033" Manufacturer="http://liquesce.codeplex.com/" >

         <Package Id="*" Keywords='Installer'
                  InstallScope='perMachine'
                  Description="$(var.ProductName)"
                  Comments="Liquesce" InstallerVersion="301" Compressed="yes"
                  AdminImage='no'
                  Platform='x86'
               />

         <MajorUpgrade DowngradeErrorMessage="Downgrades are not allowed - Use add/remove from the control panel" />

         <!-- Support Information shown in Add/Remove programs (this is optional) -->
         <Property Id="ARPHELPLINK" Value="http://liquesce.codeplex.com/documentation" />
         <Property Id="ARPCOMMENTS" Value="http://liquesce.codeplex.com/discussions"/>
         <Property Id="ARPCONTACT" Value="Smurf-IV" />
         <Property Id="ARPURLINFOABOUT" Value="http://liquesce.codeplex.com/" />
         <Icon Id="InstallerIcon" SourceFile="Z:\Liquesce\Liquesce\Resources\Liquesce.ico" />
         <Property Id="ARPPRODUCTICON" Value="InstallerIcon" />

         <!-- Properties to allow detection of .Net installation -->
         <PropertyRef Id="NETFRAMEWORK40FULL"/>
         <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR" />

         <Property Id="DOKANINSTALLED" >
            <RegistrySearch Id="IsDokanServiceInstalled" Root="HKLM" Key="SYSTEM\CurrentControlSet\services\Dokan" Name="DisplayName" Type="raw" />
         </Property>

         <Property Id="DOKANVERCHECK32">
            <DirectorySearch Id="Dokan.sys.version" Path="[SystemFolder]\Drivers">
               <!--Make sure that the min / max _straddle_ the actual version..  -->
               <FileSearch Name="Dokan.sys" MinSize="84991" MaxSize="84993"  MinVersion="6.1.7600.16384"  MaxVersion="6.1.7600.16386"/>
            </DirectorySearch>
         </Property>
         <Property Id="DOKANVERCHECK64">
            <DirectorySearch Id="Dokan.sys64.version" Path="[System64Folder]\Drivers">
               <!--Make sure that the min / max _straddle_ the actual version..  -->
               <FileSearch Name="Dokan.sys" MinSize="106887" MaxSize="106889" />
            </DirectorySearch>
         </Property>

         <Condition Message="This application requires Dokan Ver 0.5.3.">
            <![CDATA[Installed OR (DOKANVERCHECK64 AND VersionNT64) OR (DOKANVERCHECK32 AND NOT VersionNT64)]]>
         </Condition>

         <!--Some test conditions to allow the installer to run-->
         <Condition Message="Dokan.sys Driver Is Not Installed in the SYSTEM\CurrentControlSet\services registry correctly!">
            <![CDATA[Installed OR DOKANINSTALLED]]>
         </Condition>
         <Condition Message="[ProductName] Requires .NET Framework 4.0 Main profile to be installed">
            <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
         </Condition>
         <Condition Message="You need to be an administrator to install this product.">
            Privileged
         </Condition>

         <!--<Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
         <![CDATA[NOT NEWERVERSIONDETECTED OR Installed]]>
      </Condition>-->

         <!--Allow 7z / zip compression to squeeze this tighter -->
         <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" CompressionLevel="high" />

         <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
               <Directory Id="INSTALLDIR" Name="Liquesce">
                  <Directory Id="ClientDIR" Name="Liquesce Client">
                  </Directory>
                  <Directory Id="ServiceDIR" Name="Liquesce Service">
                  </Directory>
               </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
               <Directory Id="ProgramMenuDir" Name="Liquesce"/>
               <Directory Id="StartupFolder" Name="Startup" />
            </Directory>

            <Directory Id="CommonAppDataFolder" Name="CommonAppData">
               <Directory Id="LiquesceSvc_Data" Name="LiquesceSvc" >
                  <Component Id="DataDir" Guid="01234567-7E98-44CE-B049-C477CC0A2B02" KeyPath="yes" />
               </Directory>
            </Directory>
         </Directory>

         <DirectoryRef Id="ClientDIR">
            <Component Id="Client.Component" Guid="5ebf3f29-9cf1-44fe-a94c-cc1b4fe09367">
               <File Id="InstallerIcon" Name="Liquesce.ico" Source="Z:\Liquesce\Liquesce\Resources\Liquesce.ico" />
               <File Id="ClientManagement.exe" Name="ClientManagement.exe" Source="Z:\Liquesce\ClientManagement\bin\Release\ClientManagement.exe" KeyPath="yes"/>
            </Component>
            <Component Id="ClientManagement.exe.config.Component" >
               <File Source="Z:\Liquesce\ClientManagement\bin\Release\ClientManagement.exe.config" KeyPath="yes" />
            </Component>
            <Component Id="C_NLog.dll.Component" >
               <File Id="C_NLog.dll" Source="Z:\Liquesce\ClientManagement\bin\Release\NLog.dll" KeyPath="yes" />
            </Component>
            <Component Id="C_LiquesceFacade.dll.Component" >
               <File Id="C_LiquesceFacade.dll" Source="Z:\Liquesce\ClientManagement\bin\Release\LiquesceFacade.dll" KeyPath="yes" />
            </Component>
            <!--<Component Id="ClientLiquesceTray.exe.config.Component" >
               <File Source="Z:\Liquesce\ClientLiquesceTray\bin\Release\ClientLiquesceTray.exe.config" KeyPath="yes" />
            </Component>
            <Component Id="ClientLiquesceTray.exe.Component" >
               <File Id="ClientLiquesceTray.exe" Source="Z:\Liquesce\ClientLiquesceTray\bin\Release\ClientLiquesceTray.exe" KeyPath="yes" />
            </Component>-->
         </DirectoryRef>
         <DirectoryRef Id="ServiceDIR">
            <Component Id="ClientLiquesceSvc.Component" Guid="Bebf3f29-9cf1-44fe-a94c-cc1b4fe09368">
               <File Id="ClientLiquesceSvc.File" Name="ClientLiquesceSvc.exe" Source="Z:\Liquesce\ClientLiquesceSvc\bin\Release\ClientLiquesceSvc.exe" KeyPath="yes">
                  <fire:FirewallException Id="LiquesceFWX2" Name="LiquesceSvc" Scope="localSubnet" IgnoreFailure="yes" />
                  <!-- Why Use NGen ? http://msdn.microsoft.com/en-gb/magazine/cc163610.aspx -->
                  <netfx:NativeImage Id="ngen_LiquesceSvc.exe" Platform="32bit" Priority="1" AppBaseDirectory="ServiceDIR"/>
               </File>
               <File Id="ClientLiquesceSvc.exe.config.File" Name="ClientLiquesceSvc.exe.config" Source="Z:\Liquesce\ClientLiquesceSvc\bin\Release\ClientLiquesceSvc.exe.config"/>
               <ServiceControl Id='ClientLiquesceSvcControl' Name='ClientLiquesceSvc' Start='install' Stop='both' Remove='uninstall' Wait='yes' />
            </Component>
            <Component Id="DokanNet.dll.Component" >
               <File Source="Z:\Liquesce\ClientLiquesceSvc\bin\Release\DokanNet.dll" KeyPath="yes" />
            </Component>
            <Component Id="LiquesceFacade.dll.Component" >
               <File Source="Z:\Liquesce\ClientLiquesceSvc\bin\Release\LiquesceFacade.dll" KeyPath="yes" />
            </Component>
            <Component Id="NLog.dll.Component" >
               <File Source="Z:\Liquesce\ClientLiquesceSvc\bin\Release\NLog.dll" KeyPath="yes" />
            </Component>
         </DirectoryRef>
         <DirectoryRef Id="ProgramMenuDir">
            <Component Id="ProgramMenuDir2" Guid="11234567-7E98-44CE-B049-C477CC0A2B01">
               <Shortcut Id="ClientLiquesce_Shortcut" Name="Client Liquesce MGT" Description="Client Liquesce Management Application" Target="[ClientDIR]ClientManagement.exe" WorkingDirectory="ClientDIR" Icon="InstallerIcon" IconIndex="0" />
               <!--<Shortcut Id="ClientLiquesceTray_Shortcut" Name="Client Liquesce Tray" Description="Client Liquesce Tray Application" Target="[ClientDIR]ClientLiquesceTray.exe" WorkingDirectory="ClientDIR" Icon="InstallerIcon" IconIndex="0" />
               <Shortcut Id="ClientLiquesceTray_Start" Name="Liquesce Tray" Directory="StartupFolder" Description="Client Liquesce Tray Application" Target="[ClientDIR]ClientLiquesceTray.exe" WorkingDirectory="ClientDIR" Icon="InstallerIcon" IconIndex="0" />-->
               <util:InternetShortcut Type="url" Id="Home" Name="Liquesce Forum" Target="[ARPHELPLINK]" />
               <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
               <RegistryValue Root="HKCU" Key="Software\Microsoft\LiquesceClient" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
         </DirectoryRef>

         <Feature Id="ProductFeature" Title="Liquesce_Setup" Level="1">
            <ComponentRef Id="ClientLiquesceSvc.Component" />
            <ComponentRef Id="DokanNet.dll.Component"/>
            <ComponentRef Id="LiquesceFacade.dll.Component" />
            <ComponentRef Id="NLog.dll.Component" />
            <ComponentRef Id="DataDir" />

            <ComponentRef Id="Client.Component" />
            <ComponentRef Id="ClientManagement.exe.config.Component" />
            <ComponentRef Id="C_NLog.dll.Component" />
            <ComponentRef Id="C_LiquesceFacade.dll.Component" />
            <ComponentRef Id='ProgramMenuDir2'/>

            <!--<ComponentRef Id="ClientLiquesceTray.exe.Component" />
            <ComponentRef Id="ClientLiquesceTray.exe.config.Component" />-->
         </Feature>


         <!--Write custom actions to install, uninstall, commit and rollback the changes-->
         <CustomAction Id="ClientLiquesceSvc.commit.SetProperty" Property="ClientLiquesceSvc.commit"
           Value='"[NETFRAMEWORK40FULLINSTALLROOTDIR]InstallUtil.exe" /installtype=notransaction /action=commit /LogFile="[ClientLiquesceSvc_Data]ClientLiquesceSvc.commit.log" /InstallStateDir="[CommonAppDataFolder]ClientLiquesceSvc" "[#ClientLiquesceSvc.File]"' />

         <CustomAction Id="ClientLiquesceSvc.rollback.SetProperty" Property="ClientLiquesceSvc.rollback"
           Value='"[NETFRAMEWORK40FULLINSTALLROOTDIR]InstallUtil.exe" /installtype=notransaction /action=rollback /LogFile="[ClientLiquesceSvc_Data]ClientLiquesceSvc.rollback.log" /InstallStateDir="[CommonAppDataFolder]ClientLiquesceSvc" "[#ClientLiquesceSvc.File]"' />

         <CustomAction Id="ClientLiquesceSvc.install.SetProperty" Property="ClientLiquesceSvc.install"
           Value='"[NETFRAMEWORK40FULLINSTALLROOTDIR]InstallUtil.exe" /installtype=notransaction /action=install /LogFile="[ClientLiquesceSvc_Data]ClientLiquesceSvc.install.log" /InstallStateDir="[CommonAppDataFolder]ClientLiquesceSvc" "[#ClientLiquesceSvc.File]"' />

         <CustomAction Id="ClientLiquesceSvc.uninstall.SetProperty" Property="ClientLiquesceSvc.uninstall"
           Value='"[NETFRAMEWORK40FULLINSTALLROOTDIR]InstallUtil.exe" /installtype=notransaction /action=uninstall /LogFile="[ClientLiquesceSvc_Data]ClientLiquesceSvc.uninstall.log" /InstallStateDir="[CommonAppDataFolder]ClientLiquesceSvc" "[#ClientLiquesceSvc.File]"' />

         <CustomAction Id="ClientLiquesceSvc.commit" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="commit" Impersonate="no" Return="check" />
         <CustomAction Id="ClientLiquesceSvc.rollback" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="rollback" Impersonate="no" Return="check" />
         <CustomAction Id="ClientLiquesceSvc.install" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" Return="check" />
         <CustomAction Id="ClientLiquesceSvc.uninstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" Return="check" />

         <CustomAction Id="StopService.SetProperty" Property="StopService" Value='"[System64Folder]Net.exe stop FRWinService"' />
         <CustomAction Id="StopService" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" Return="check"/>

         <CustomAction Id="StartService.SetProperty" Property="StartService" Value='"[System64Folder]Net.exe start FRWinService"' />
         <CustomAction Id="StartService" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" Return="check"/>

         <!--Custom Actions to start stop Application tray-->
         <!--<CustomAction Id="StartTrayApp" FileKey="LiquesceTray.exe" ExeCommand="" Return="asyncNoWait" />
         <util:CloseApplication CloseMessage="yes" Id="CloseServerTray" Target="LiquesceTray.exe" RebootPrompt="no"/>
         <CustomAction Id="MgtApp" FileKey="Liquesce.exe" ExeCommand="" Return="asyncNoWait" />
         <util:CloseApplication CloseMessage="yes" Id="CloseMgtAppTray" Target="Liquesce.exe" RebootPrompt="no"/>

         <InstallUISequence>
            <Custom Action="WixCloseApplications" Before="LaunchConditions" />
         </InstallUISequence>-->

         <!-- Now to sequence these Custom Actions in the execute sequence -->
         <InstallExecuteSequence>
            <!--<Custom Action="WixCloseApplications" Before="LaunchConditions" />-->

            <Custom Action="ClientLiquesceSvc.commit.SetProperty" After="InstallServices"><![CDATA[ $ClientLiquesceSvc.Component > 2 ]]></Custom>
            <Custom Action="ClientLiquesceSvc.commit" After="ClientLiquesceSvc.commit.SetProperty"><![CDATA[ $ClientLiquesceSvc.Component > 2 ]]></Custom>

            <Custom Action="ClientLiquesceSvc.rollback.SetProperty" After="ClientLiquesceSvc.commit"><![CDATA[ $ClientLiquesceSvc.Component > 2 ]]></Custom>
            <Custom Action="ClientLiquesceSvc.rollback" After="ClientLiquesceSvc.rollback.SetProperty"><![CDATA[ $ClientLiquesceSvc.Component > 2 ]]></Custom>

            <Custom Action="ClientLiquesceSvc.install.SetProperty" After="ClientLiquesceSvc.rollback"><![CDATA[ $ClientLiquesceSvc.Component > 2 ]]></Custom>
            <Custom Action="ClientLiquesceSvc.install" After="ClientLiquesceSvc.install.SetProperty"><![CDATA[ $ClientLiquesceSvc.Component > 2 ]]></Custom>

            <Custom Action="ClientLiquesceSvc.uninstall.SetProperty" After="MsiUnpublishAssemblies"><![CDATA[ $ClientLiquesceSvc.Component = 2 ]]></Custom>
            <Custom Action="ClientLiquesceSvc.uninstall" After="ClientLiquesceSvc.uninstall.SetProperty"><![CDATA[ $ClientLiquesceSvc.Component = 2 ]]></Custom>
            <!--<Custom Action="StartTrayApp" After="InstallFinalize">Not Installed</Custom>
            <Custom Action="MgtApp" After="StartTrayApp">Not Installed</Custom>-->
         </InstallExecuteSequence>
      </Product>
</Wix>
