<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="Liquesce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
         <section name="Liquesce.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
   </configSections>

   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         autoReload="true">
      <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/Liquesce/Logs"/>
      <targets>
         <target name="file" xsi:type="File"
                 layout="${longdate}[${threadid}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}"
                 fileName="${LogDir}/Liquesce.log"
                 archiveFileName="${LogDir}/Liquesce.{#}.log"
                 archiveAboveSize="1048576"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
   <userSettings>
      <Liquesce.Properties.Settings>
         <setting name="WindowLocation" serializeAs="String">
            <value />
         </setting>
         <setting name="UpdateRequired" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="TailWindowLocation" serializeAs="String">
            <value />
         </setting>
      </Liquesce.Properties.Settings>
      <Liquesce.Settings1>
         <setting name="WindowLocation" serializeAs="String">
            <value />
         </setting>
         <setting name="UpdateRequired" serializeAs="String">
            <value>True</value>
         </setting>
      </Liquesce.Settings1>
   </userSettings>
</configuration>
