<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="LiquesceSvc.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>

   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         autoReload="true">
      <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/LiquesceSvc/Logs"/>
      <targets>
         <target name="file" xsi:type="File" 
                 layout="${longdate}[${threadid}][${threadname}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}" 
                 fileName="${LogDir}/LiquesceSvc.log" 
                 archiveFileName="${LogDir}/LiquesceSvc.{#}.log" 
                 archiveAboveSize="1048576" 
                 archiveNumbering="Rolling" 
                 maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>

   <!-- This section controls the remote interfaces exposed by this service. -->
   <system.serviceModel>
      <services>
         <service behaviorConfiguration="LiquesceSvc.Service1Behavior"
                  name="LiquesceSvc.LiquesceFaçade">
            <endpoint
              address="net.tcp://localhost:41014/LiquesceFaçade"
              binding="netTcpBinding"
              bindingConfiguration="tcp_Unsecured"
              contract="LiquesceFaçade.ILiquesce" />
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:8731/Design_Time_Addresses/LiquesceSvc/LiquesceFaçade/" />
               </baseAddresses>
            </host>
         </service>
      </services>
      <bindings>
         <netTcpBinding>
            <binding name="tcp_Unsecured">
               <security mode="None" />
            </binding>
         </netTcpBinding>
      </bindings>
      <behaviors>
         <serviceBehaviors>
            <behavior name="LiquesceSvc.Service1Behavior">
               <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
               <serviceMetadata httpGetEnabled="True"/>
               <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
               <serviceDebug includeExceptionDetailInFaults="False" />
            </behavior>
         </serviceBehaviors>
      </behaviors>   </system.serviceModel>
   <applicationSettings>
      <LiquesceSvc.Settings1>
         <setting name="ConfigFileName" serializeAs="String">
            <value>Properties.config.xml</value>
         </setting>
      </LiquesceSvc.Settings1>
   </applicationSettings>
</configuration>
