<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="LiquesceSvc.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
         <section name="LiquesceSvc.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>

   <connectionStrings>
      <add name="LiquesceSvc.Properties.Settings.Salt" connectionString="+Od6c3mNYXx4Ix17s1b9iwV7zOHdmMLj7nx+38vjnE36r9YlxR0/cZ6ISo/rez7Czcc4kZw55r/wVYDjNE2vqrjr4/VzgvgW1AgXzvTpLHAfK80RY58QQta1qtXbGgqsTxYJmFHk5ikCd5QFBth1xcJlZ5w62yaScPmWc2ygm58vorqrrTcgq7DIBJpz+YRaQhSKBFdj4IW6ug0OoOyoRkZRaHVTK/BwY2VR4QKRc1eK786/05qM4ABiX3tRrCFb7Ag2G4KleZD0Z2tznzk3ux0gPmLiXU5Hc/T+MEkxiGeQyXnI3Oy40TBgRL6Lv9dJ/TRiYXc32SvrfMgLqcaX0Ks56SfHmBIFLLwwFHRMx2U0HZnESsz2Nid+gJ4ILZDaUatqwAdUaS78rk7eMI3ubXrvA+n5PP3Df1PMI2M0C1LVX/b+OXSdlaVqS9XmMWtBlIh6xJQwlxz8PeargFlltKLroGpVROZJK1z5V5nP48yaaV8rKSb6SPIaybpfPPBy+CEdl57EU5Eh0MGmoWgAtDUQ2ygmEswHR1CyNKT/P7gt9rZDfcjatucd6rpoeY73BphSUQDNZY6MUTYlikg37l5Ob8HTRpI/FYwzSMTzxri4EbYA3reY4p5qNE/GiCmXcsgDaKGhKvz1gYHIugek4dVAaTA0tSqxiuyQtbO6jEz+KpwerYVI+4ir+oay3L1as8n603jeRdXHho7Vq5DsjtsipCEM4f/iq9rKy9sXSUXkOyS66gFktsCYUGxOacfAOeCtXIuIMsjhM8QRZJc+3A==" />
   </connectionStrings>
   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/LiquesceSvc/Logs"/>
      <targets>
         <target name="file" xsi:type="File"
                 layout="${longdate}[${threadid}] ${level:uppercase=true} ${logger}: ${message} ${exception:Format=Message,shorttype,StackTrace:separator=&#xD;&#xA;}"
                 fileName="${LogDir}/LiquesceSvc.log"
                 archiveFileName="${LogDir}/LiquesceSvc.{#}.log"
                 archiveAboveSize="1048576"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>

   <!-- This section controls the remote interfaces exposed by this service. -->
   <!-- ///// ///// ///// ///// ///// ///// ///// ///// 
   Removed as this will be now be controlled progmatically !
   <system.serviceModel>
      <services>
         <service name="LiquesceSvc.LiquesceFacade">
            <endpoint
              address="net.tcp://localhost:41014/LiquesceFacade"
              binding="netTcpBinding"
              bindingConfiguration="tcp_Unsecured"
              contract="LiquesceFacade.ILiquesce" />
         </service>
         <service behaviorConfiguration="LiquesceSvc.Service1Behavior"
                  name="LiquesceSvc.LiquesceCallBackFacade">
            <endpoint
              address="net.tcp://localhost:41015/LiquesceCallBackFacade"
              binding="netTcpBinding"
              bindingConfiguration="tcp_Unsecured"
              contract="LiquesceFacade.ILiquesceCallBack" />
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:8731/Design_Time_Addresses/LiquesceSvc/LiquesceCallBackFacade/" />
               </baseAddresses>
            </host>
         </service>
      </services>
      <bindings>
         <netTcpBinding>
            <binding name="tcp_Unsecured">
               <security mode="None" />
            </binding>
            <binding name="Mtom_Config" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
               <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                 maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
               <security mode="None" />
            </binding>
         </netTcpBinding>
      </bindings>
      <behaviors>
         <serviceBehaviors>
            <behavior name="LiquesceSvc.Service1Behavior">
               --><!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment --><!--
               <serviceMetadata httpGetEnabled="True"/>
               --><!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
   <!--
               <serviceDebug includeExceptionDetailInFaults="False" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
   </system.serviceModel>
   ///// ///// ///// ///// ///// ///// ///// ///// ///// 
   End Progmatic removale
   -->

   <applicationSettings>
      <LiquesceSvc.Properties.Settings1>
         <setting name="ConfigFileName" serializeAs="String">
            <value>Properties.config.xml</value>
         </setting>
      </LiquesceSvc.Properties.Settings1>
      <LiquesceSvc.Settings1>
         <setting name="ConfigFileName" serializeAs="String">
            <value>Properties.config.xml</value>
         </setting>
      </LiquesceSvc.Settings1>
   </applicationSettings>
   <runtime> <!-- http://stackoverflow.com/questions/7009759/c-sharp-windows-service-timeout-on-startup -->
      <generatePublisherEvidence enabled="false" />
   </runtime>
</configuration>
