<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="ClientLiquesceSvc.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>

   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/LiquesceSvc/Logs"/>
      <targets>
         <target name="file" xsi:type="File"
                 layout="${longdate}[${threadid}][${threadname}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}"
                 fileName="${LogDir}/ClientLiquesceSvc.log"
                 archiveFileName="${LogDir}/ClientLiquesceSvc.{#}.log"
                 archiveAboveSize="1048576"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>
   <applicationSettings>
      <ClientLiquesceSvc.Settings1>
         <setting name="ConfigFileName" serializeAs="String">
            <value>Client.Properties.config.xml</value>
         </setting>
      </ClientLiquesceSvc.Settings1>
   </applicationSettings>
   <system.serviceModel>
      <client>
         <endpoint
           name="ShareEnabler"
           address="net.tcp://localhost:41016/ShareEnabler"
           binding="netTcpBinding"
           bindingConfiguration="Mtom_Config"
           contract="LiquesceFacade.IShareEnabler" />
      </client>
      <bindings>
         <netTcpBinding>
            <binding name="Mtom_Config" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
               <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                 maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
               <security mode="None" />
            </binding>
         </netTcpBinding>
      </bindings>
   </system.serviceModel>
</configuration>