<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="ClientLiquesceFTPTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
   </configSections>

   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
      <variable name="LogDir" value="${specialfolder:folder=ApplicationData}/ClientLiquesceFtp/Logs"/>
      <targets>
         <target name="file" xsi:type="File" layout="${longdate}[${threadid}][${threadname}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}" fileName="${LogDir}/ClientLiquesceFtpTray.log" archiveFileName="${LogDir}/ClientLiquesceFtpTray.{#}.log" archiveAboveSize="1048576" archiveNumbering="Rolling" maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
   <applicationSettings>
      <ClientLiquesceFTPTray.Properties.Settings>
         <setting name="DokanThreads" serializeAs="String">
            <value>1</value>
         </setting>
         <setting name="DokanDebug" serializeAs="String">
            <value>False</value>
         </setting>
      </ClientLiquesceFTPTray.Properties.Settings>
   </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
