<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="LiquesceFTPSvc.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>

   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/LiquesceFTPSvc/Logs"/>
      <targets>
         <target name="file" xsi:type="File"
                 layout="${longdate}[${threadid}][${threadname}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}"
                 fileName="${LogDir}/LiquesceFTPSvc.log"
                 archiveFileName="${LogDir}/LiquesceFTPSvc.{#}.log"
                 archiveAboveSize="1048576"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>

   <!-- This section controls the remote interfaces exposed by this service. -->
   <system.serviceModel>
      <services>
         <service name="LiquesceFTPSvc.LiquesceFTPFacade">
            <endpoint
              address="net.tcp://localhost:41114/LiquesceFTPFacade"
              binding="netTcpBinding"
              bindingConfiguration="tcp_Unsecured"
              contract="LiquesceFTPFacade.ILiquesceFTP" />
         </service>
         <service behaviorConfiguration="LiquesceFTPSvc.Service1Behavior"
                  name="LiquesceFTPSvc.LiquesceFTPCallBackFacade">
            <endpoint
              address="net.tcp://localhost:41115/LiquesceFTPCallBackFacade"
              binding="netTcpBinding"
              bindingConfiguration="tcp_Unsecured"
              contract="LiquesceFTPFacade.ILiquesceFTPCallBack" />
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost:8831/Design_Time_Addresses/LiquesceFTPSvc/LiquesceFTPCallBackFacade/" />
<!--
/*
Windows Server 2003/Windows XP - use the HttpCfg.exe tool
Windows 7/Windows Server 2008 - configure these settings with the Netsh.exe tool (you need to deal with UAC here). The steps are mentioned below:
1. Go to Start > Accessories > Command Prompt > Right-Click (Run as Administrator)
2. Execute this at the command prompt:
HTTP could not register URL http://+:8831/Design_Time_Addresses/LiquesceFTPSvc/LiquesceFTPCallBackFacade/. Your process does not have access rights to this namespace (see http://go.microsoft.com/fwlink/?LinkId=70353 for details).
    netsh http add urlacl url=http://+:8831/Design_Time_Addresses/LiquesceFTPSvc/LiquesceFTPCallBackFacade user=DOMAIN\username
    8000 here is your port number, you can replace this with a port number of  your choice (using which your WCF service is hosted)            
             */-->
               </baseAddresses>
            </host>
         </service>
      </services>
      <bindings>
         <netTcpBinding>
            <binding name="tcp_Unsecured">
               <security mode="None" />
            </binding>
            <binding name="Mtom_Config" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
               <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                 maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
               <security mode="None" />
            </binding>
         </netTcpBinding>
      </bindings>
      <behaviors>
         <serviceBehaviors>
            <behavior name="LiquesceFTPSvc.Service1Behavior">
               <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
               <serviceMetadata httpGetEnabled="True"/>
               <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
               <serviceDebug includeExceptionDetailInFaults="False" />
            </behavior>
         </serviceBehaviors>
      </behaviors>
   </system.serviceModel>

   <applicationSettings>
      <LiquesceFTPSvc.Settings1>
         <setting name="ConfigFileName" serializeAs="String">
            <value>Properties.config.xml</value>
         </setting>
         <setting name="FtpPort" serializeAs="String">
            <value>21</value>
         </setting>
         <setting name="MinPassvPort" serializeAs="String">
            <value>6000</value>
         </setting>
         <setting name="MaxPassvPort" serializeAs="String">
            <value>7000</value>
         </setting>
         <setting name="MoveDeletedFilesToRecycleBin" serializeAs="String">
            <value>True</value>
         </setting>
      </LiquesceFTPSvc.Settings1>
   </applicationSettings>
</configuration>
