<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >

   <?define TraySource=$(sys.SOURCEFILEDIR)..\ClientLiquesceFTPTray\bin\Release ?>

   <!-- do not change this ever !-->
   <?define UpgradeCode = "F6F94F17-A05F-4824-8DD9-9F5E8267D785" ?>

   <!-- Change this when creating new release YY-MM-DD -->
   <?define Version = "11.04.07" ?>

   <?define ProductName = "Liquesce FTP Drive Mapper"?>

   <Product Version="$(var.Version)" Id="*" UpgradeCode="$(var.UpgradeCode)"
          Name="$(var.ProductName)" Language="1033" Manufacturer="http://liquesce.codeplex.com/" >

      <Package Id="*" Keywords='Installer'
               InstallScope='perMachine'
               Description="$(var.ProductName)"
               Comments="Liquesce FTP" InstallerVersion="301" Compressed="yes"
               AdminImage='no'
               Platform='x86'
               />

      <MajorUpgrade DowngradeErrorMessage="Downgrades are not allowed - Use add/remove from the control panel" />

      <!-- Support Information shown in Add/Remove programs (this is optional) -->
      <Property Id="ARPHELPLINK" Value="http://liquesce.codeplex.com/documentation" />
      <Property Id="ARPCOMMENTS" Value="http://liquesce.codeplex.com/discussions"/>
      <Property Id="ARPCONTACT" Value="Smurf-IV" />
      <Property Id="ARPURLINFOABOUT" Value="http://liquesce.codeplex.com/" />
      <Icon Id="InstallerIcon" SourceFile="$(sys.SOURCEFILEDIR)..\ClientLiquesceFTPTray\Resources\Liquesce.ico" />
      <Property Id="ARPPRODUCTICON" Value="InstallerIcon" />

      <!-- Properties to allow detection of .Net installation -->
      <PropertyRef Id="NETFRAMEWORK40FULL"/>
      <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR" />

      <Property Id="DOKANINSTALLED" >
         <RegistrySearch Id="IsDokanServiceInstalled" Root="HKLM" Key="SYSTEM\CurrentControlSet\services\Dokan" Name="DisplayName" Type="raw" />
      </Property>

      <Property Id="DOKANVERCHECK32">
         <DirectorySearch Id="Dokan.sys.version" Path="[SystemFolder]\Drivers">
            <!--Make sure that the min / max _straddle_ the actual version..  Check for 0.6.0 x32 Size -->
            <FileSearch Name="Dokan.sys" MinSize="91903" MaxSize="91905" />
         </DirectorySearch>
      </Property>
      <Property Id="DOKANVERCHECK64">
         <DirectorySearch Id="Dokan.sys64.version" Path="[System64Folder]\Drivers">
            <!--Make sure that the min / max _straddle_ the actual version.. Check for 0.6.0 x64 Size -->
            <FileSearch Name="Dokan.sys" MinSize="120407" MaxSize="120409" />
         </DirectorySearch>
      </Property>

      <Condition Message="This application requires Dokan Ver 0.6.0.">
         <![CDATA[Installed OR (DOKANVERCHECK64 AND VersionNT64) OR (DOKANVERCHECK32 AND NOT VersionNT64)]]>
      </Condition>

      <!--Some test conditions to allow the installer to run-->
      <Condition Message="Dokan.sys Driver Is Not Installed in the SYSTEM\CurrentControlSet\services registry correctly!">
         <![CDATA[Installed OR DOKANINSTALLED]]>
      </Condition>
      <Condition Message="[ProductName] Requires .NET Framework 4.0 Main profile to be installed">
         <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
      </Condition>
      <Condition Message="You need to be an administrator to install this product.">
         Privileged
      </Condition>

      <!--<Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
         <![CDATA[NOT NEWERVERSIONDETECTED OR Installed]]>
      </Condition>-->

      <!--Allow 7z / zip compression to squeeze this tighter -->
      <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" CompressionLevel="high" />

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="LiquesceFTP">
               <Directory Id="ClientDIR" Name="Liquesce FTP Client" />
            </Directory>
         </Directory>
         <Directory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuDir" Name="Liquesce FTP"/>
            <Directory Id="StartupFolder" Name="Startup" />
         </Directory>
      </Directory>

      <ComponentGroup Id="Client" >
         <Component Id="Client" Guid="5EBF3F29-9CF1-44FE-A94C-CC1B4FE09367" Directory="ClientDIR">
            <File Id="InstallerIcon" Name="Liquesce.ico" Source="$(sys.SOURCEFILEDIR)..\ClientLiquesceFTPTray\Resources\Liquesce.ico" />
            <File Id="ClientLiquesceFTPTray.exe" Name="ClientLiquesceFTPTray.exe" Source="$(var.TraySource)\ClientLiquesceFTPTray.exe" KeyPath="yes"/>
         </Component>
         <Component Id="ChangeLog" Directory="ClientDIR">
            <File Source="$(sys.SOURCEFILEDIR)..\ClientLiquesceFTPTray\ChangeLog.rtf" KeyPath="yes" />
         </Component>
         <Component Id="ClientLiquesceFTPTray.exe.config" Directory="ClientDIR">
            <File Source="$(var.TraySource)\ClientLiquesceFTPTray.exe.config" KeyPath="yes" />
         </Component>
         <Component Id="C_NLog.dll" Directory="ClientDIR">
            <File Id="C_NLog.dll" Source="$(var.TraySource)\NLog.dll" KeyPath="yes" />
         </Component>
      </ComponentGroup>
      <DirectoryRef Id="ProgramMenuDir">
         <Component Id="ProgramMenuDir2" Guid="11234567-7E98-44CE-B049-C477CC0A2B01">
            <Shortcut Id="LiquesceTray_Shortcut" Name="Liquesce FTP Tray" Description="Liquesce FTP Tray Application" Target="[ClientDIR]ClientLiquesceFTPTray.exe" WorkingDirectory="ClientDIR" Icon="InstallerIcon" IconIndex="0" />
            <Shortcut Id="LiquesceTray_Start" Name="Liquesce FTP Tray" Directory="StartupFolder" Description="Liquesce FTP Tray Application" Target="[ClientDIR]ClientLiquesceFTPTray.exe" WorkingDirectory="ClientDIR" Icon="InstallerIcon" IconIndex="0" />
            <util:InternetShortcut Type="url" Id="Home" Name="Liquesce Forum" Target="[ARPHELPLINK]" />
            <util:InternetShortcut Type="link" Id="Change" Name="Change Log" Target="[ClientDIR]ChangeLog.rtf"/>
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\ClientLiquesceFTP" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
         </Component>
      </DirectoryRef>

      <Feature Id="ProductFeature" Title="Liquesce_FTP_Setup" Level="1">
         <ComponentGroupRef Id="Client" />
         <ComponentRef Id='ProgramMenuDir2'/>
      </Feature>


      <!--Custom Actions to start stop Application tray-->
      <CustomAction Id="StartTrayApp" FileKey="ClientLiquesceFTPTray.exe" ExeCommand="" Return="asyncNoWait" />
      <util:CloseApplication CloseMessage="yes" Id="CloseFTPTray" Target="ClientLiquesceFTPTray.exe" RebootPrompt="no"/>

      <InstallUISequence>
         <Custom Action="WixCloseApplications" Before="LaunchConditions" />
      </InstallUISequence>

      <!-- Now to sequence these Custom Actions in the execute sequence -->
      <InstallExecuteSequence>
         <Custom Action="WixCloseApplications" Before="LaunchConditions" />

         <Custom Action="StartTrayApp" After="InstallFinalize">Not Installed</Custom>
      </InstallExecuteSequence>

      <!-- Get the install to skip a few steps -->
      <UIRef Id="WixUI_Common" />
      <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
      <!-- This just adds 90K on top of the UI Extension.dll -->
      <UI>
         <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
         <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
         <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
         <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

         <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
         <Property Id="ARPNOMODIFY" Value="1" />

         <DialogRef Id="BrowseDlg" />
         <DialogRef Id="DiskCostDlg" />
         <DialogRef Id="ErrorDlg" />
         <DialogRef Id="FatalError" />
         <DialogRef Id="FilesInUse" />
         <DialogRef Id="MsiRMFilesInUse" />
         <DialogRef Id="PrepareDlg" />
         <DialogRef Id="ProgressDlg" />
         <DialogRef Id="ResumeDlg" />
         <DialogRef Id="UserExit" />

         <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
         <Publish Dialog="WelcomeEulaDlg" Control="Install" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
         <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeEulaDlg" Order="1">NOT Installed</Publish>
         <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>

         <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
         <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
         <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
         <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      </UI>

      <UIRef Id="WixUI_ErrorProgressText" />

   </Product>
</Wix>
