<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >
   <?define UpgradeCode = "f6f94f17-a05f-4824-8dd9-9f5e8267d783" ?>
   <?define Version = "10.10.06" ?>
   <?define ProductName = "Liquesce Windows HDD Pooling Suite"?>

   <Product Version="$(var.Version)" Id="*" UpgradeCode="$(var.UpgradeCode)"
          Name="$(var.ProductName)" Language="1033" Manufacturer="http://liquesce.codeplex.com/" >

      <Package Id="*" Keywords='Installer'
               InstallScope='perMachine'
               Description="$(var.ProductName)"
               Comments="Liquesce" InstallerVersion="301" Compressed="yes"
               AdminImage='no'
               Platform='x86'
               />

      <MajorUpgrade DowngradeErrorMessage="Downgrades are not allowed - Use add/remove from the control panel" />

      <!-- Support Information shown in Add/Remove programs (this is optional) -->
      <Property Id="ARPHELPLINK" Value="http://liquesce.codeplex.com/documentation" />
      <Property Id="ARPCOMMENTS" Value="http://liquesce.codeplex.com/discussions"/>
      <Property Id="ARPCONTACT" Value="Smurf-IV" />
      <Property Id="ARPURLINFOABOUT" Value="http://liquesce.codeplex.com/" />
      <Icon Id="client.exe" SourceFile="Z:\Liquesce\Liquesce\Resources\Liquesce.ico" />
      <Property Id="ARPPRODUCTICON" Value="client.exe" />
      
      <!-- Properties to allow detection of .Net installation -->
      <PropertyRef Id="NETFRAMEWORK40FULL"/>
      <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR" />

      <Property Id="DOKANINSTALLED" >
         <RegistrySearch Id="IsDokanServiceInstalled" Root="HKLM" Key="SYSTEM\CurrentControlSet\services\Dokan" Name="DisplayName" Type="raw" />
      </Property>

      <Property Id="DOKANVERCHECK32">
         <DirectorySearch Id="Dokan.sys.version" Path="[SystemFolder]\Drivers">
            <!--Make sure that the min / max _straddle_ the actual version..  -->
            <FileSearch Name="Dokan.sys" MinSize="84991" MaxSize="84993"  MinVersion="6.1.7600.16384"  MaxVersion="6.1.7600.16386"/>
         </DirectorySearch>
      </Property>
      <Property Id="DOKANVERCHECK64">
         <DirectorySearch Id="Dokan.sys64.version" Path="[System64Folder]\Drivers">
            <!--Make sure that the min / max _straddle_ the actual version..  -->
            <FileSearch Name="Dokan.sys" MinSize="106887" MaxSize="106889" />
         </DirectorySearch>
      </Property>

      <Condition Message="This application requires Dokan Ver 0.5.3.">
         <![CDATA[Installed OR (DOKANVERCHECK64 AND VersionNT64) OR (DOKANVERCHECK32 AND NOT VersionNT64)]]>
      </Condition>

      <!--Some test conditions to allow the installer to run-->
      <Condition Message="Dokan.sys Driver Is Not Installed in the SYSTEM\CurrentControlSet\services registry correctly!">
         <![CDATA[Installed OR DOKANINSTALLED]]>
      </Condition>
      <Condition Message="[ProductName] Requires .NET Framework 4.0 Main profile to be installed">
         <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
      </Condition>
      <Condition Message="You need to be an administrator to install this product.">
         Privileged
      </Condition>

      <!--<Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
         <![CDATA[NOT NEWERVERSIONDETECTED OR Installed]]>
      </Condition>-->

      <!--Allow 7z / zip compression to squeeze this tighter -->
      <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" CompressionLevel="high" />

      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFilesFolder">
            <Directory Id="INSTALLDIR" Name="Liquesce">
               <Directory Id="ClientDIR" Name="Liquesce Client">
               </Directory>
               <Directory Id="ServiceDIR" Name="Liquesce Service">
               </Directory>
            </Directory>
         </Directory>
         <Directory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuDir" Name="Liquesce"/>
            <Directory Id="StartupFolder" Name="Startup" />
         </Directory>

         <Directory Id="CommonAppDataFolder" Name="CommonAppData">
            <Directory Id="LiquesceSvc_Data" Name="LiquesceSvc" >
               <Component Id="DataDir" Guid="01234567-7E98-44CE-B049-C477CC0A2B01" KeyPath="yes" />
            </Directory>
         </Directory>

      </Directory>

      <DirectoryRef Id="ClientDIR">
         <Component Id="Client.Component" Guid="5ebf3f29-9cf1-44fe-a94c-cc1b4fe09367">
            <File Id="client.exe" Name="Liquesce.ico" Source="Z:\Liquesce\Liquesce\Resources\Liquesce.ico" />
            <File Id="Liquesce.exe" Name="Liquesce.exe" Source="Z:\Liquesce\Liquesce\bin\Release\Liquesce.exe" KeyPath="yes">
               <fire:FirewallException Id="LiquesceFWX1" Name="Liquesce Mount Management" Scope="localSubnet" IgnoreFailure="yes" />
            </File>
         </Component>
         <Component Id="ChangeLog.Component" >
            <File Source="Z:\Liquesce\Liquesce\ChangeLog.rtf" KeyPath="yes" />
         </Component>
         <Component Id="Liquesce.exe.config.Component" >
            <File Source="Z:\Liquesce\Liquesce\bin\Release\Liquesce.exe.config" KeyPath="yes" />
         </Component>
         <Component Id="C_NLog.dll.Component" >
            <File Id="C_NLog.dll" Source="Z:\Liquesce\Liquesce\bin\Release\NLog.dll" KeyPath="yes" />
         </Component>
         <Component Id="C_LiquesceFacade.dll.Component" >
            <File Id="C_LiquesceFacade.dll" Source="Z:\Liquesce\Liquesce\bin\Release\LiquesceFaçade.dll" KeyPath="yes" />
         </Component>
         <Component Id="LiquesceTray.exe.Component" >
            <File Id="LiquesceTray.exe" Source="Z:\Liquesce\LiquesceTray\bin\Release\LiquesceTray.exe" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="ServiceDIR">
         <Component Id="LiquesceSvc.Component" Guid="Bebf3f29-9cf1-44fe-a94c-cc1b4fe09367">
            <File Id="LiquesceSvc.File" Name="LiquesceSvc.exe" Source="Z:\Liquesce\LiquesceSvc\bin\Release\LiquesceSvc.exe" KeyPath="yes">
               <fire:FirewallException Id="LiquesceFWX2" Name="LiquesceSvc" Scope="localSubnet" IgnoreFailure="yes" />
               <netfx:NativeImage Id="ngen_LiquesceSvc.exe" Platform="all" Priority="3" AppBaseDirectory="ServiceDIR"/>
            </File>
            <File Id="LiquesceSvc.exe.config.File" Name="LiquesceSvc.exe.config" Source="Z:\Liquesce\LiquesceSvc\bin\Release\LiquesceSvc.exe.config"/>
            <ServiceControl Id='LiquesceSvcControl' Name='LiquesceSvc' Start='install' Stop='both' Remove='uninstall' Wait='yes' />
         </Component>
         <Component Id="DokanNet.dll.Component" >
            <File Source="Z:\Liquesce\LiquesceSvc\bin\Release\DokanNet.dll" KeyPath="yes" />
         </Component>
         <Component Id="LiquesceFacade.dll.Component" >
            <File Source="Z:\Liquesce\LiquesceSvc\bin\Release\LiquesceFaçade.dll" KeyPath="yes" />
         </Component>
         <Component Id="NLog.dll.Component" >
            <File Source="Z:\Liquesce\LiquesceSvc\bin\Release\NLog.dll" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="ProgramMenuDir">
         <Component Id="ProgramMenuDir2" Guid="11234567-7E98-44CE-B049-C477CC0A2B01">
            <Shortcut Id="Liquesce_Shortcut" Name="Liquesce MGT" Description="Liquesce Management Application" Target="[ClientDIR]Liquesce.exe" WorkingDirectory="ClientDIR" Icon="client.exe" IconIndex="0" />
            <Shortcut Id="LiquesceTray_Shortcut" Name="Liquesce Tray" Description="Liquesce Tray Application" Target="[ClientDIR]LiquesceTray.exe" WorkingDirectory="ClientDIR" Icon="client.exe" IconIndex="0" />
            <Shortcut Id="LiquesceTray_Start" Name="Liquesce Tray" Directory="StartupFolder" Description="Liquesce Tray Application" Target="[ClientDIR]LiquesceTray.exe" WorkingDirectory="ClientDIR" Icon="client.exe" IconIndex="0" />
            <util:InternetShortcut Type="url" Id="Home" Name="Liquesce Forum" Target="[ARPHELPLINK]" />
            <util:InternetShortcut Type="link" Id="Change" Name="Change Log" Target="[ClientDIR]ChangeLog.rtf"/>
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\Liquesce" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
         </Component>
      </DirectoryRef>

      <Feature Id="ProductFeature" Title="Liquesce_Setup" Level="1">
         <ComponentRef Id="LiquesceSvc.Component" />
         <ComponentRef Id="DokanNet.dll.Component"/>
         <ComponentRef Id="LiquesceFacade.dll.Component" />
         <ComponentRef Id="NLog.dll.Component" />
         <ComponentRef Id="DataDir" />

         <ComponentRef Id="Client.Component" />
         <ComponentRef Id="ChangeLog.Component" />
         <ComponentRef Id="Liquesce.exe.config.Component" />
         <ComponentRef Id="C_NLog.dll.Component" />
         <ComponentRef Id="C_LiquesceFacade.dll.Component" />
         <ComponentRef Id='ProgramMenuDir2'/>

         <ComponentRef Id="LiquesceTray.exe.Component" />
      </Feature>


      <!--Write custom actions to install, uninstall, commit and rollback the changes-->
      <CustomAction Id="LiquesceSvc.commit.SetProperty" Property="LiquesceSvc.commit"
        Value='"[NETFRAMEWORK40FULLINSTALLROOTDIR]InstallUtil.exe" /installtype=notransaction /action=commit /LogFile="[LiquesceSvc_Data]LiquesceSvc.commit.log" /InstallStateDir="[CommonAppDataFolder]LiquesceSvc" "[#LiquesceSvc.File]"' />

      <CustomAction Id="LiquesceSvc.rollback.SetProperty" Property="LiquesceSvc.rollback"
        Value='"[NETFRAMEWORK40FULLINSTALLROOTDIR]InstallUtil.exe" /installtype=notransaction /action=rollback /LogFile="[LiquesceSvc_Data]LiquesceSvc.rollback.log" /InstallStateDir="[CommonAppDataFolder]LiquesceSvc" "[#LiquesceSvc.File]"' />

      <CustomAction Id="LiquesceSvc.install.SetProperty" Property="LiquesceSvc.install"
        Value='"[NETFRAMEWORK40FULLINSTALLROOTDIR]InstallUtil.exe" /installtype=notransaction /action=install /LogFile="[LiquesceSvc_Data]LiquesceSvc.install.log" /InstallStateDir="[CommonAppDataFolder]LiquesceSvc" "[#LiquesceSvc.File]"' />

      <CustomAction Id="LiquesceSvc.uninstall.SetProperty" Property="LiquesceSvc.uninstall"
        Value='"[NETFRAMEWORK40FULLINSTALLROOTDIR]InstallUtil.exe" /installtype=notransaction /action=uninstall /LogFile="[LiquesceSvc_Data]LiquesceSvc.uninstall.log" /InstallStateDir="[CommonAppDataFolder]LiquesceSvc" "[#LiquesceSvc.File]"' />

      <CustomAction Id="LiquesceSvc.commit" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="commit" Impersonate="no" Return="check" />
      <CustomAction Id="LiquesceSvc.rollback" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="rollback" Impersonate="no" Return="check" />
      <CustomAction Id="LiquesceSvc.install" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" Return="check" />
      <CustomAction Id="LiquesceSvc.uninstall" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" Return="check" />

      <CustomAction Id="StopService.SetProperty" Property="StopService" Value='"[System64Folder]Net.exe stop FRWinService"' />
      <CustomAction Id="StopService" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" Return="check"/>

      <CustomAction Id="StartService.SetProperty" Property="StartService" Value='"[System64Folder]Net.exe start FRWinService"' />
      <CustomAction Id="StartService" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" Return="check"/>

      <!--Custom Actions to start stop Application tray-->
      <CustomAction Id="StartTrayApp" FileKey="LiquesceTray.exe" ExeCommand="" Return="asyncNoWait" />
      <util:CloseApplication CloseMessage="yes" Id="CloseServerTray" Target="LiquesceTray.exe" RebootPrompt="no"/>
      <CustomAction Id="MgtApp" FileKey="Liquesce.exe" ExeCommand="" Return="asyncNoWait" />
      <util:CloseApplication CloseMessage="yes" Id="CloseMgtAppTray" Target="Liquesce.exe" RebootPrompt="no"/>

      <InstallUISequence>
         <Custom Action="WixCloseApplications" Before="LaunchConditions" />
      </InstallUISequence>

      <!-- Now to sequence these Custom Actions in the execute sequence -->
      <InstallExecuteSequence>
         <Custom Action="WixCloseApplications" Before="LaunchConditions" />

         <Custom Action="LiquesceSvc.commit.SetProperty" After="InstallServices"><![CDATA[ $LiquesceSvc.Component > 2 ]]></Custom>
         <Custom Action="LiquesceSvc.commit" After="LiquesceSvc.commit.SetProperty"><![CDATA[ $LiquesceSvc.Component > 2 ]]></Custom>

         <Custom Action="LiquesceSvc.rollback.SetProperty" After="LiquesceSvc.commit"><![CDATA[ $LiquesceSvc.Component > 2 ]]></Custom>
         <Custom Action="LiquesceSvc.rollback" After="LiquesceSvc.rollback.SetProperty"><![CDATA[ $LiquesceSvc.Component > 2 ]]></Custom>

         <Custom Action="LiquesceSvc.install.SetProperty" After="LiquesceSvc.rollback"><![CDATA[ $LiquesceSvc.Component > 2 ]]></Custom>
         <Custom Action="LiquesceSvc.install" After="LiquesceSvc.install.SetProperty"><![CDATA[ $LiquesceSvc.Component > 2 ]]></Custom>

         <Custom Action="LiquesceSvc.uninstall.SetProperty" After="MsiUnpublishAssemblies"><![CDATA[ $LiquesceSvc.Component = 2 ]]></Custom>
         <Custom Action="LiquesceSvc.uninstall" After="LiquesceSvc.uninstall.SetProperty"><![CDATA[ $LiquesceSvc.Component = 2 ]]></Custom>
         <Custom Action="StartTrayApp" After="InstallFinalize">Not Installed</Custom>
         <Custom Action="MgtApp" After="StartTrayApp">Not Installed</Custom>
      </InstallExecuteSequence>

   </Product>
</Wix>
