<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
   </configSections>

   <nlog>
      <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/Liquesce/Logs"/>
      <targets>
         <target name="file" type="File"
                 layout="${longdate}[${threadid}][${threadname}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}"
                 filename="${LogDir}/Liquesce.log"
                 archiveFileName="${LogDir}/Liquesce.{#}.log"
                 archiveAboveSize="1048576"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
   <system.serviceModel>
      <client>
         <endpoint
           name="LiquesceFaçade"
           address="net.tcp://127.0.0.1:41014/LiquesceFaçade"
           binding="netTcpBinding"
           bindingConfiguration="tcp_Unsecured"
           contract="LiquesceFaçade.ILiquesce" />
      </client>
      <bindings>
         <netTcpBinding>
            <binding name="tcp_Unsecured">
               <security mode="None" />
            </binding>
         </netTcpBinding>
      </bindings>
   </system.serviceModel>
</configuration>
