<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
   </configSections>

   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         autoReload="true">
      <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/Liquesce/Logs"/>
      <targets>
         <target name="file" xsi:type="File"
                 layout="${longdate}[${threadid}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}"
                 fileName="${LogDir}/Liquesce.log"
                 archiveFileName="${LogDir}/Liquesce.{#}.log"
                 archiveAboveSize="1048576"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="5">
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Debug" writeTo="file"/>
      </rules>
   </nlog>
</configuration>
