<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        name="LiquesceFacade"
        address="net.tcp://localhost:41014/LiquesceFacade"
        binding="netTcpBinding"
        bindingConfiguration="tcp_Unsecured"
        contract="LiquesceFacade.ILiquesce" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="tcp_Unsecured">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>